.books-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.book-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
  width: 100%;
  border: solid 1px #e8e8e8;
  background-color: #fff;
  border-radius: 5px;
}

.wrapper {
  width: 85%;
}

.book-wrapper {
  display: flex;
  justify-content: space-between;
}

.book-left {
  width: 45%;
}

.book-right {
  padding-right: 2.5em;
}

.book-right > * {
  margin: 5px 0;
}

.book-category {
  opacity: 0.5;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-author {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.book-left-buttons {
  margin-top: 10px;
}

.book-left-buttons button {
  font-family: 'Roboto Slab', serif;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
  background-color: #fff;
}

.book-left-buttons button:focus {
  outline: none;
}

.book-left-buttons span {
  width: 2px;
  height: 24px;
  margin: 12px 17px 0 15px;
  border: solid 1px #e8e8e8;
}

.book-center {
  display: flex;
  align-items: center;
}

.progress-bar {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  background: #ddd;
  margin-right: 10px;
  background-image: conic-gradient(#307bbe 0% 64%, #e8e8e8 64% 100%);
}

.progress-bar .progress-bar-inner {
  box-sizing: border-box;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
  background: #fff;
  text-align: center;
  padding-top: 30%;
}

.completed {
  border-right: #e8e8e8 solid 1px;
  padding-right: 70px;
}

.completed p {
  margin: 0;
  padding: 0;
  font-size: 1.7rem;
  color: #121212;
  line-height: normal;
  letter-spacing: normal;
  height: 25px;
}

.completed span {
  color: #121212;
  opacity: 0.5;
  font-size: 0.8rem;
  line-height: normal;
  letter-spacing: normal;
}

.current-chapter {
  opacity: 0.5;
  font-family: 'Roboto Slab', serif;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.chapter-number {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.update-btn {
  padding: 7px 19px 8px 22px;
  border-radius: 3px;
  background-color: var(--azure);
  color: #fff;
  text-transform: uppercase;
}
